body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff !important;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

.form-group label {
    color: #343a40;
}

.btn-primary {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-primary:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5) !important;
}

.movie-img {
    width: 100%;
    height: 500px; /* Puedes ajustar esta altura según tus preferencias */
    object-fit: cover; /* Para mantener la proporción y cubrir el espacio asignado */
}